<% if signed_in? %>

  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">What's up?</h1>
        <%= render 'shared/micropost_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </td>
    </tr>
  </table>

<% else %>

<h1>What's a Bucket List?</h1>
<p>
If you haven’t heard about the bucket list, it is a list of all the goals you want to achieve, dreams you want to fulfill and life-experiences you desire to experience before you die.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

<% end %>